/*
 * Digilent PYNQ-Z1 board DTS
 *
 *  Copyright (C) 2016 Digilent
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Zynq PYNQ-Z1 Development Board";
	compatible = "digilent,zynq-pynqz1", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0x0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x170>;
		drv-vbus;
	};
};

&clkc {
	ps-clk-frequency = <50000000>;
	fclk-enable = <0xf>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 { /* rtl8211e-vl */
		reg = <1>;
	};
};

&sdhci0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	clock-frequency = <1843200>;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-reset = <&gpio0 46 0>;
	usb-phy = <&usb_phy0>;
};
